@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --bg: #dfe5f2;
    --main: #88aaee ;
    --mainAccent: #4d80e6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    padding: 0 20px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid #000000;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 1;
    background-color: var(--mainAccent);
}

#logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo:hover {
    color: #FFFFFF;
    transition: .5s;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    cursor: pointer;
}

ul a:hover {
    color: #FFFFFF;
    transition: .5s;
}

body {
    font-family: 'Bebas Neue', 'sans-serif';
    color: black;
    font-size: 22px;
}

h1 {
    margin: 0px;
    color: black;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: var(--mainAccent);
}
  
.mobile-menu li {
    margin-bottom: 10px;
}

.main-body {
    background-color: var(--bg);
}

/* About */  
.about-content {
    margin: 0px, 25px, 0px, 25px;
}
    
.about-description > h1 {
    margin: 0px 0px 10px 0px;
}
    
.about-description > p {
    margin-bottom: 10px;
}

.projects > h1 {
    margin: 0px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

.contact-email {
    display: flex;
}

.icon img {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 50px;
}

/* Footer */
footer {
    background-color: var(--bg);
    height: auto;
}

footer a {
    cursor: pointer;
}
        
/* Hero */
.hero {
    padding: 0px 120px;
    margin-bottom: 175px;
    height: fit-content;
}

.hello-text {
    display: flex;
    flex-direction: row;
}

.hero-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.hero-styling {
    margin: 0px 95px 0px 95px;
    padding: 250px 0px 50px 0px;
}

.hero-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.hero-subtitle span p {
    display: block;
}

/* About */
.about {
    padding: 0px 150px;
    height: fit-content;
    font-size: 20px;
    transition: .1s;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-item-1 {
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    background-color: var(--main);
}

.about-item-1 > p {
    font-size: 17px;
}

.about-item-2 {
    padding: 25px;
    height: 100%;
    background-color: #ffffff;
    border-style: solid;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.about-item-3 {
    border-style: solid;
}

.about-two-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.about-two {
    margin: 25px 0px 25px 0px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-styling {
    border: solid;
    background-color: var(--main);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.about-items-styling {
    border: solid;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.about-items-styling > ul {
    flex-direction: column;
}

.about-two > ul {
    font-size: 28px;
    flex-direction: column;
}

.about-three {
    margin: 25px 0px 25px 0px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-three > ul {
    font-size: 28px;
    flex-direction: column;
}
    
/* Projects */
.projects {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.projects-showcase {
    display: grid;  
    grid-template-areas: 
    'header header header' 
    'item-2 item-2  item-3' 
    'item-2 item-2 item-3';
    grid-template-columns: 300px 300px 250px;
    grid-template-rows: 92px 250px 200px;
    grid-gap: 10px;
    margin-bottom: 75px;
}


.item-1 {
    grid-area: header;
    padding: 10px;
    border-style: solid;
    background-color: var(--main);
    border-radius: 10px;
}

div.item-1-content > h1 {
    margin-right: 50px;
}

div.item-1-content > p {
    display: flex;
    font-size: 2px;
    height: fit-content;
}

.item-2 {
    grid-area: item-2;
    border-radius: 10px;
    margin: 0;
}

.item-2 > img {
    height: 390px;
    width: 100%;
    filter: brightness(55%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item-2 > img:hover {
    filter: none;
    transition: .1s;
}

.card-header {
    display: flex;
    justify-content: flex-end;
    border-style: solid;
    background-color: var(--main);
    width: 100%;
    padding: 15px;
    gap: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 11px;
}

.item-2-content > a:hover {
    color: #ffff;
    transition: .5s;
}

.item-3 {
    grid-area: item-3;
    border-style: solid;
    display: flex;
    padding: 25px;
    border-radius: 10px;
}

.item-3-content > p {
    height: fit-content ;
    font-size: 17px;
    justify-content: flex-start;
}

.item-3-content > ul {
    display: flex;
    flex-direction: column  ;
    gap: 10px;
    justify-content: center;
}

/*Project 2 */
.project-2 {
    height: 300px;
}

.project-2-grid {
    display: grid;
    grid-template-areas: 
    'header header header'
    'side item item'
    'side item item';
    grid-template-columns: 300px 300px 250px;
    grid-template-rows: 92px 250px 200px;
    gap: 10px;
    margin-bottom: 50px;
}

.pro2-item-1 {
    grid-area: header;
    border: solid;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main);
}

.pro2-item-2 {
    grid-area: side;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    padding: 10px;
}

.pro2-item-2 > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
    gap: 10px;
}

.pro2-item-3 {
    grid-area: item;
}

.pro2-item-3 > img {
    height: 390px;
    width: 100%;
    filter: brightness(55%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pro2-item-3 > img:hover {
    filter: none;
    transition: .1s;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.contact-header-styling {
    border: solid;
    background-color: var(--main);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 500px;
}

.contact-styling {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact-styling:hover {
    color: var(--mainAccent);
    transition: .1s;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    padding: 15px;
    gap: 10px;

}

.line {
    border-top: 2px;
    border-color: #000000;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    height: 25px;
}

/* Text Classes */
.text-xxl {
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 600;
}

.emoji-xl {
    font-size: 4rem;
    margin: 0px 0px 0px 10px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) {
    /* Hero */
    .hero {
        font-size: 40px;
    }

    /* About */
    .about {
        font-size: 25px;
    }

    .header-styling {
        padding: 10px;
        font-size: 28px;
        margin: 5px 5px 10px 5px;
    }

    .about-two {
        font-size: 30px;
        height: 400px;
        width: 400px;
    }

    .about-three {
        font-size: 30px;
        height: 400px;
        width: 400px;
    }
}

@media (min-width: 721px) and (max-width: 820px) {
    /* Hero */
    .hero {
        padding: 25px;
        margin-bottom: 125px;
    }

    /* About */
    .about-item-1 > p {
        font-size: 13px;
    }
    .about {
        height: auto;
        padding: 25px;
    }

    .about-two-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-styling {
        width: 80%;
    }

    .about-two {
        width: 95%;
    }

    .about-three {
        width: 95%;
    }

    /* Projects */
    .projects {
        padding: 0px 25px;
        height: fit-content;
    }
        
    .projects-showcase {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px 0px 25px 0px;
    }
    
    .item-1 {
        border-radius: 10px;
    }
    
    .item-1-content {
        padding: 10px;
    }
        
    .item-1 > h1 {
        margin-bottom: 0px;
    }
        
    .item-1-content > p {
            display: flex;
            font-size: 12px;
    }

    .item-2 {
        height: 350px;
    }
        
    .item-2 > img {
        height: 280px;
    }

    .item-3 {
        height: fit-content;
    }
        
    .item-3-content > ul {
        height: fit-content;
        flex-direction: row;
    }

    /* Project 2 */
    .project-2-grid {
        display: flex;
        height: fit-content;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    
    .pro2-item-1 {
        border: solid;
        display: flex;
        flex-direction: flex-start;
        padding: 10px;
        border-radius: 10px;
    }
    
    .pro2-item-2 {
        border-radius: 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 5px 0px 5px 0px;
    }

    .pro2-item-2 > ul {
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .pro2-item-3 {
        height: 500px;
        border-radius: 10px;
    }

    /* Contact */
    .contact {
        padding: 0px 25px;
    }
}


/* Mobile View */
@media (max-width: 720px) {
    header nav {
        display: none;
      }
    
      #hamburger-icon {
        display: block;
      }

    body {
        overflow-x: hidden;
    }

    /* Main */
    .main-wrapper {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    /* Hero */
    .hero {
        height: auto;
        padding: 0px 20px;
        width: 100%;
    }

    .hello-text {
        display: flex;
        flex-direction: row;
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        height: 50%;
        margin: 0px 125px;
        padding: 0px 150px;
    }
    
    .hero-styling {
        margin: 0px 75px 0px 75px;
        padding: 250px 0px 250px 0px;
    }
    
    .hero-subtitle {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }
    
    .hero-subtitle span p {
        display: block;
    }

    /* About */
    .about {
        height: 100%;
        padding: 0px 10px;
        margin-bottom: 50px;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-two-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-description {
        border-radius: 10px;        
        padding: 25px;
    }

    .about-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 25px 0px 155px;
        padding: 24px;
        border-radius: 25px;
    }

    .header-styling {
        width: 80%;
    }

    .about-two {
        width: 95%;
    }

    .about-three {
        width: 95%;
    }

    /* Projects */
    .projects {
        padding: 0px 10px;
    }
        
    .projects-showcase {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px 10px 25px 10px;
    }
    
    .item-1 {
        border-radius: 10px;
    }
    
    .item-1-content {
        padding: 10px;
    }
        
    .item-1 > h1 {
        margin-bottom: 0px;
    }
        
    .item-1-content > p {
            display: flex;
            font-size: 12px;
    }

    .item-2 {
        height: 350px;
    }
        
    .item-2 > img {
        height: 280px;
    }

    .item-3 {
        height: fit-content;
    }
        
    .item-3-content > ul {
        height: fit-content;
        flex-direction: row;
    }

    /* Project 2 */
    .project-2-grid {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        margin: 0px 10px 75px 10px;
        padding: 10px
    }
    
    .pro2-item-1 {
        border: solid;
        display: flex;
        flex-direction: flex-start;
        padding: 10px;
        border-radius: 10px;
    }
    
    .pro2-item-2 {
        border-radius: 10px;
        border: solid;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pro2-item-2 > ul {
        height: fit-content;
        flex-direction: row;
    }
    
    .pro2-item-3 {
        height: 350px;
        border-radius: 10px;
    }

    .pro2-item-3 > img {
        height: 280px;
    }

    /* Contact */
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
        gap: 50px;
    }
    
    /* Text Classes */
    .text-xxl {
        font-size: 6rem;
        line-height: 1.2;
        font-weight: 600;
    }
    
    .emoji-xl {
        font-size: 2rem;
        margin: 10px 0px 0px 5px;
        justify-content: center;
        align-items: center;
    }
}
/* End of Mobile */

/* Utils */

.container {
    background-color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #000000;
    border-radius: 10px;
    height: 200px;
    width: 500px;
}

.open-icon {
    height: 25px;
    width: 25px;
}

.open-icon:hover {
    color: #ffffff;
}

.box-shadow {
    box-shadow: 5px 5px;
}

.slideUp {
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.5s, opacity 0.5s;
}

.animate {
    transform: translateY(0);
    opacity: 1;
}