@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --bg: #dfe5f2;
    --main: #88aaee ;
    --mainAccent: #4d80e6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    padding: 0 20px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 1;
}

#logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    cursor: pointer;
}

body {
    font-family: 'Bebas Neue', 'sans-serif';
    color: black;
    font-size: 22px;
}

h1 {
    margin: 0px;
    color: black;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #ffff;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}

.main-body {
    background-color: var(--bg);
}

/* About */  
.about-content {
    margin: 0px, 25px, 0px, 25px;
}
    
.about-description > h1 {
    margin: 0px 0px 10px 0px;
}
    
.about-description > p {
    margin-bottom: 10px;
}

.projects h1 {
    margin: 0px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

.contact-email {
    display: flex;
}

.icon img {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    height: 35px;
    width: 35px;
}

/* Footer */
footer {
    background-color: var(--bg);
    height: auto;
}

footer a {
    cursor: pointer;
}


.main-wrapper {
    padding: 0px 125px;
}
        
/* Hero */
.hero {
    height: 100vh;
}

.hello-text {
    display: flex;
    flex-direction: row;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-styling {
    margin: 0px 95px 0px 95px;
    padding: 250px 0px 50px 0px;
}

.hero-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.hero-subtitle span p {
    display: block;
}

/* About */
.about {
    height: 76vh;
    font-size: 20px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-item-1 {
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    background-color: var(--main);
}

.about-item-1 > p {
    font-size: 17px;
}

.about-item-2 {
    padding: 25px;
    height: 100%;
    background-color: #ffffff;
    border-style: solid;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.about-item-3 {
    border-style: solid;
}
    
/* Projects */
.projects {
    padding: 0px 10px;
    height: 120vh;
    overflow: hidden;
}

.projects-showcase {
    display: grid;
    height: 86vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item-1 {
    grid-area: 1 / 1 / span 1 / span 3;
    border-style: solid;
    background-color: #ffffff;
}

.item-1-content {
    display: flex;
    align-items: center;
    padding: 25px;
}

div.item-1-content > h1 {
    margin-right: 50px;
}

div.item-1-content > p {
    display: flex;
    font-size: 16px;
    height: fit-content;
}

.item-2 {
    grid-area: 2 / 1 / 5 / 3;
    border-style: solid;
    background-color: #ffff;
    margin: 0;
}

.item-2-content {
    display: flex;
    justify-content: flex-end;
    border-bottom: solid;
    background-color: var(--main);
    width: 100%;
    padding: 15px;
}

.card-header {
    display: flex;
}

.item-2 > img {
    height: auto;
    width: 100%;
    filter: brightness(55%)
}

.item-2-content > a:hover {
    color: #ffff;
    transition: .5s;
}

.item-3 {
    grid-row: 2 / 5;
    grid-column: 3 / 5;
    border-style: solid;
    display: flex;
    padding: 25px;
}

.item-3-content > p {
    height: fit-content ;
    font-size: 20px;
    justify-content: flex-start;
}

.item-3-content > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact */
.social-icons {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 15px;
    gap: 10px;

}

.line {
    border-top: 2px;
    border-color: #000000;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    height: 25px;
}

.placeholder-md-box {
    border: 1px solid black; 
    background-color: lightgrey;
    padding: 15px; 
    height: 320px; 
    width: 300px;
}

/* Text Classes */
.text-xxl {
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 600;
}

.emoji-xl {
    font-size: 4rem;
    margin: 0px 0px 0px 10px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 850px) and (max-width: 940px) {
    .about-item-1 > p {
        font-size: 13px;
    }
}


/* Mobile View */
@media (max-width: 720px) {
    header nav {
        display: none;
      }
    
      #hamburger-icon {
        display: block;
      }

    body {
        overflow-x: hidden;
    }

    /* Main */
    .main-wrapper {
        overflow: hidden;
        margin: 0px 10px;
        padding: 0px;
    }

    /* Hero */
    .hero {
        height: auto;
    }

    .hello-text {
        display: flex;
        flex-direction: row;
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        height: 50%;
        margin: 0px 125px;
        padding: 0px 150px;
    }
    
    .hero-styling {
        margin: 0px 75px 0px 75px;
        padding: 250px 0px 250px 0px;
    }
    
    .hero-subtitle {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }
    
    .hero-subtitle span p {
        display: block;
    }

    /* About */
    .about {
        height: 100%;
        padding: 0px 10px;
        margin-bottom: 50px;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-description {
        border-radius: 10px;        
        padding: 25px;
    }

    .about-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 25px 0px 155px;
        padding: 24px;
        border-radius: 25px;
    }

    /* Projects */
    .projects {
        padding: 1px;
    }

    .projects-showcase {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px 25px;
    }
    
    .item-1-content {
        padding: 10px;
    }

    .item-1-content > h1 {
        display: flex;
        font-size: 22px;
        justify-content: center;
    }

    div.item-1-content > p {
        display: flex;
        font-size: 12px;
    }

    .item-2 > img {
        height: 250px;
    }

    .item-3-content > ul {
        flex-direction: row;
    }

    /* Contact */
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
        gap: 50px;
    }
    
    /* Text Classes */
    .text-xxl {
        font-size: 6rem;
        line-height: 1.2;
        font-weight: 600;
    }
    
    .emoji-xl {
        font-size: 2rem;
        margin: 10px 0px 0px 5px;
        justify-content: center;
        align-items: center;
    }
}
/* End of Mobile */

/* Utils */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
}

.open-icon {
    height: 25px;
    width: 25px;
}

.open-icon:hover {
    color: #ffffff;
}

.box-shadow {
    box-shadow: 5px 5px;
}

.slideUp {
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.5s, opacity 0.5s;
}

.animate {
    transform: translateY(0);
    opacity: 1;
}